html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tw_cursor_idle {
  animation-name: tw_cursor_animation;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
}

.tw_cursor_typing {
  opacity: 1;
}

@keyframes tw_cursor_animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
